.contact {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}

.contact:not(:last-child) {
  margin-bottom: 5px;
}

.name {
  display: flex;
  align-items: center;

  min-width: 250px;
}

.number {
  display: flex;
  align-items: center;
  min-width: 215px;
}

.btn {
  padding: 3px;
  font-family: Roboto, sans-serif;
  background-color: transparent;
  border: 1px solid rgb(180, 201, 179);;
  border-radius: 5px;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(180, 201, 179);;
}