.form {
  margin-bottom: 15px;
  padding: 10px;
}

.input {
  margin-right: 10px;
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: 16px;

  border: 1px solid rgb(180, 201, 179);
  border-radius: 5px;
}

.btn {
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  /* border: none; */
  background-color: transparent;
  border: 1px solid rgb(180, 201, 179);
  border-radius: 5px;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(180, 201, 179);
}